.div-referencia {
    border-radius:5px; 
    margin-top:20px;
    border:1px solid #ccc;
    padding:10px;
    background-color:#f5f5f5;
}

.icon-sub {
    cursor:pointer;
}


.icon-sub:hover{
    color:#000066;
    font-weight: bold;
    
}

.th-cel-table {
    border:1px solid #ccc;
    text-align: center ;
    font-weight: 400;
    padding:5px;
}
