.div-referencia {
    border-radius:5px; 
    margin-top:20px;
    border:1px solid #ccc;
    padding:10px;
    background-color:#f5f5f5;
}

.icon-sub {
    cursor:pointer;
}


.icon-sub:hover{
    color:#000066;
    font-weight: bold;
    
}

.th-cel-table {
    border:1px solid #ccc;
    text-align: center ;
    font-weight: 400;
    padding:5px;
}

#modal-insert-cliente {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    width: 700px;
    height: 330px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 15px;

}

#modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9;
}
